/plain_python/cviceni/.pytest_cache/
/.idea/
/teorie gamingu/TGHE_semestral/cmake-build-debug/
/plain_python/cviceni/cv4/.pytest_cache/
/venv1/
/PZR/cv1/recordings/
/.venv/
/ING/PZR/cv1/recordings/
/ING/DAI/cv2/Cenicham_zkracene_mastered_hiphop_loud.wav
/ING/PVI/.venv/
/ING/PVI/.idea/
